.header {
  height: 80vh;
  max-width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 0;
  font-family: "Roboto", serif;
  letter-spacing: 10px;
  color: #fff;
}

.subtitle {
  font-size: 1.1rem;
  font-weight: lighter;
  color: #666789;
  margin-bottom: 8rem;
  font-family: "Merriweather";
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mouse {
  font-size: 2rem;
  color: #fff;
}
